*{
    font-family: 'Poppins', sans-serif;
   
}

h1{
    margin-left:2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

body{
    padding:0;
    margin:0;
}

#data_table {
    margin: auto;
    background-color: lightgray;
    border-collapse: collapse !important;
    border-style: hidden; 
    border: solid 1px gray;
  
  
  }

  #data_table th{
    color: white;
  }
  

  
  #data_table td, th {
    padding: 20px;
  }
  
  #data_table th {
    background-color: #252525;
  
  }
  
  
  table tr:nth-child(2n+1){
    background-color: white;
}

  #wrapper{
    margin: 5rem 5rem;
  }
  