*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
}
body{
    background-color: rgb(236, 236, 236);
}

.contenedor{
    width: 100%;
    height: calc(100vh-100px);
    display: flex;
    justify-content: center;
}

.contenedor .div-formulario {
    width: 20%;
    height: 280px;
    margin: 120px 15px;
    background-color: rgb(238, 181, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px gray;

}

.contenedor .div-formulario h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.contenedor .div-formulario form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button{
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}
/*estilo listado*/

.contenedor .div-listado{
    width: 40%;
    height: calc(100%-50px);
    margin: 120px 90px;
    background-color: rgb(238, 181, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px gray;
}

.contenedor .div-listado h2{
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.contenedor .div-listado .div-alumnos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-alumnos p{
    margin: 10px 0;
    font-size: 1em;
    color: rgb(1, 5, 5);
}

hr{
width: 100px;
height: 1px;
}

.btn-editar{
    background-color: green;

}
.btn-eliminar{
    background-color: red;
}
.btn{
    padding: 5px 10px;
    border:none;
    margin:0 5px;
    color: white;
    border-radius: 50px;
}

